
@media (min-width: 575px) {
  article {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
		margin: 4em;

}

h1 {
		font-family: "Arial Black", Gadget, sans-serif;
		color: red;
}

h2 {
		font-family: Georgia, serif;
}


div {
		font-family: "Courier New", Courier, monospace;	
		width: 100%;
}

p {
		font-family: "Courier New", Courier, monospace;	
		font-size: 12px;
		width: 550px;
		margin: auto;

	}

#one {
	
		font-family: "Courier New", Courier, monospace;	
		font-size: 12px;
		width: 550px;
		margin: auto;}

#two {
	
		font-family: "Courier New", Courier, monospace;	
		font-size: 10px;
		width: 550px;
		margin: auto;
}

#three {
		font-family: "Courier New", Courier, monospace;	
		color: red;
		font-weight: bold;
}

* {box-sizing:border-box}

.slideshow-container {
  height: 400px;
  position: relative;
  margin: auto;
}
.mySlides {
  height: 100%;
  max-width:100%;
  object-fit: contain;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: red;
}




